*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(247, 247, 247);
    background-image: url(9.jpg );
    background-repeat: no-repeat;
    background-size: 100%;


}
h1{
    color: blue;
}
