*{
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(to right, #c09da9, #6b6b83, #3b8d99);;
}
header{
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to right,rgb(126, 47, 47),rgb(70, 8, 8));

}
#logoBox{
    width: 25%;
    height: 100%;
    float: left;
    background-color: burlywood;
}
#h1Header{
    float:right;
    line-height: 100px;
    padding: 0 15px;
}
#logo{
    height: 100%;
    border-radius: 60%;
}
header a{
    color: white;

}
nav{
    width: 70%;
    text-align: right;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: large;
}
nav li{
    display: inline-block;
    line-height: 100px;
    width: 100px;
    text-align: center;
}
nav a:hover{
    background-color: aliceblue;
    color: black;
    width: 100%;
    height: 100%;
}
summary{
    color: aliceblue;
    font-size: large;
}
P{
    color: aliceblue;
}
img:hover{
    transform: scale(1.2);
}
